Notas importantes sobre python.txt
1-Estructura y elementos del lenguaje/Ejercicios/probando soluciones.py

.vscode/

**/__pycache__/
**/Notas importantes para el examen.txt
**/screenshots*/

**/*.sqlite3